.benefits {
  @extend %section;
}

.benefits__list {
  // display: flex;
  // flex-direction: row;
  // column-gap: 30px;

  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  // width: 100%;
  height: 120px;
  background-color: var(--buttons-port-color);
}

.benefits__item {
  @media screen and (max-width: 767px) {
    flex-basis: calc((100% - 30px * (1 - 1)) / (1));
  }

  @media screen and (min-width: 767px) and (max-width: 1199px) {
    width: calc((100% - 30px * (2 - 1)) / (2));
  }

  @media screen and (min-width: 1199px) {
    width: calc((100% - 30px * (4 - 1)) / (4));
  }
}

// .benefits__item {
//   @media screen and (min-width: 1199px) {
//     width: calc((100% - 30px * (4 - 1)) / (4));
//   }
// }

.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--main-text-color);
}

@media screen and (max-width: 767px) {
  .benefits__title {
    text-align: center;
  }
}

.benefits__text {
  line-height: 1.71;
  color: var(--owner-text-color);
}
