.section-port {
  @extend %section;
}

.hero-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.grid-item {
  @media screen and (max-width: 767px) {
    flex-basis: calc((100% - 30px * (1 - 1)) / (1));
  }

  @media screen and (min-width: 767px) and (max-width: 1199px) {
    width: calc((100% - 30px * (2 - 1)) / (2));
  }

  @media screen and (min-width: 1199px) {
    width: calc((100% - 30px * (3 - 1)) / (3));
  }
}

.item-port-icon {
  width: 370px;
}
.grid-link {
  display: block;
  transition: box-shadow 250ms var(--cubic);

  &:hover .portoverlay,
  &:focus .portoverlay {
    transform: translateY(0);
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.grid-content {
  position: relative;
  overflow: hidden;
}

.portoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
  color: var(--background-color);
  background: rgba(33, 150, 243, 0.9);
}

.portoverlay-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 63px 24px;
  color: var(--background-color);
}

.content-text {
  padding: 20px 24px;
  border: 1px solid var(--contener-color);
  border-top: none;
}

.grid-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.grid-text {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--owner-text-color);
}
