.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
  @media screen and (max-width: 580px) {
    top: 0;
    overflow: scroll;
    transform: translateX(-50);
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic);
  // @media screen and (max-width: 580px) {
  //   top: 0;
  //   transform: translateX(-50) translateY(0);
  // }
}

.modal-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  background: var(--background-color);
  border-radius: 50%;
  border: 1px solid currentColor;
  transition: color 250ms var(--cubic);
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.modal-icon {
  fill: currentColor;
}

.modal-label-text {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-text-color);
}
.modal-form-all {
  margin-bottom: 20px;
}
.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--owner-text-color);
}
.modal-form-wrapper {
  position: relative;
  margin-bottom: 10px;
}
.modal-form-field {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: outline 250ms var(--cubic), box-shadow 250ms var(--cubic), color 250ms var(--cubic);

  &:focus {
    outline: 1px solid var(--accent-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    color: var(--accent-color);
  }
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--cubic);
}
.modal-form-field:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: outline 250ms var(--cubic), box-shadow 250ms var(--cubic), color 250ms var(--cubic);

  &:focus {
    outline: 1px solid var(--accent-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    color: var(--accent-color);
  }
}
.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-agreement {
  display: flex;
  margin-bottom: 30px;
  gap: 7px;
  justify-content: center;
  align-items: center;
}

.modal-form-label-agreement {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--owner-text-color);
  user-select: none;
}
.modal-form-link {
  color: var(--accent-color);
  text-underline-offset: 3px;
}
.modal-form-checkbox {
  appearance: none;
  width: 16px;
  height: 15px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0;
  transition: background-size 250ms var(--cubic), background-color 250ms var(--cubic),
    outline-color 250ms var(--cubic);
}
.modal-form-checkbox:checked {
  outline-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
  background-size: 11px 8px;
}

.modal__btn-form {
  display: block;

  padding: 10px 52px;

  &:hover,
  &:focus {
    background-color: var(--focus-btn);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
