.team {
  @extend %section;
}

.team {
  background: var(--buttons-port-color);
}

.team__item {
  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__card {
  padding: 30px 0;
}
.team__list-card {
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  background-color: var(--background-color);
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--background-color);
  }
}

.team__icon {
  fill: currentColor;
}

.team__title-small {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--owner-text-color);
  text-align: center;
  margin-bottom: 16px;
}
